@model BlackSeaConstruction.Web.Models.IndexVM

@using static BlackSeaConstruction.Web.Extensions.ImageExtensions;

<div class="row">
    <div class="col-12 col-md-6 col-lg-7 mb-3 mb-lg-0 animated fadeInLeft">
        <p>
            <h1>Welcome</h1>
        </p>
        <p>
            We are Vancouver based company which is proud of the good reputation that we have built up over the
            years. In our business, it is essential to build and maintain the right reputation, of which our
            continued success is dependent on being recommended to new Contractors and winning
            repeat business from existing Contractors. Customer satisfaction is paramount.
        </p>
        <ul class="our-services"></ul>
    </div>
    <div class="col-12 col-md-6 col-lg-5 m-auto animated fadeInUp">
        <div class="card bg-warning text-white h-100">
            <div id="carouselIndicators" class="carousel slide card-img-top" data-ride="carousel">
                <ol class="carousel-indicators">
                    @if (Model.News?.Count() > 0)
                    {
                        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                        @for (int i = 1; i < Model.News.Count(); i++)
                        {
                            <li data-target="#carouselIndicators" data-slide-to="@i"></li>
                        }
                    }
                </ol>
                <div class="carousel-inner">
                    @{
                        bool isActive = true;
                    }
                    @foreach (var news in Model.News)
                    {
                        <div class="carousel-item@(isActive ? " active" : "")" data-link="@news.Link" data-description="@news.Description">
                            <img src="~/@NewsImage(news.Image)" class="d-block w-100">
                            <div class="carousel-caption d-none d-md-block text-warning">
                                <h5>@news.Header</h5>
                            </div>
                        </div>
                        isActive = false;
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="row">
                <div class="col">
                    <p class="text-center my-2" id="news-description">@Model.News?.FirstOrDefault()?.Description</p>
                </div>
            </div>
            <div class="card-body p-1 text-center">
                <button type="button" class="btn btn-sm btn-dark text-warning readmore" id="read">read more</button>
            </div>
        </div>
    </div>
</div>


@section Intro {
    <div id="intro-bg"></div>
    <div id="intro" class="d-none">
        <div id="intro-pages-0">
            <div id="intro-pages-1"></div>
        </div>
        <div id="intro-logo-3d"></div>
        <div id="intro-house">
            <div id="intro-house-sh"></div>
            <div id="intro-house-9"></div>
            <div id="intro-house-10"></div>

            <div id="intro-house-1"></div>
            <div id="intro-house-2"></div>

            <div id="intro-house-3"></div>
            <div id="intro-house-4"></div>

            <div id="intro-house-5"></div>
            <div id="intro-house-6"></div>

            <div id="intro-house-7"></div>
            <div id="intro-house-8"></div>
        </div>
        <div id="intro-helmet"></div>
    </div>
}

@section Scripts{
    <script src="~/js/intro.js"></script>
    <script>
        $(document).ready(function () {
            $('#link-about-us').addClass('active');

            if ($(window).width() > 800) {
                homeIntro();
            } else {
                $('#intro-bg').removeClass('fadeIn').addClass('animated fadeOut');
                setTimeout(function () {
                    $('#intro-bg').hide();
                }, 800);
            }

            $('#carouselIndicators').on('slid.bs.carousel', function () {
                var description = $('.carousel-item.active').data('description');
                $('#news-description').html(description);
            });

            $('#read').click(function () {
                window.location = $('.carousel-item.active').data('link');
            });
        });
    </script>
}