@model BlackSeaConstruction.Web.Models.WorksVM
@using static BlackSeaConstruction.Web.Extensions.ImageExtensions
@{
    var id = Model.Project?.Id;
    var isActive = true;
}

<link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893" />
<style>
    .H_ib_content {
        min-width: 8em;
        margin: .5em;
        padding: 0;
    }
</style>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

<div class="row">
    <div class="col-12 col-md-7 col-lg-8 order-1 order-md-0">
        <div class="row">
            <div class="col">
                <h1 class="text-center text-lg-left">Our works</h1>
                <p class="text-center text-lg-left">Some of our projects across Lower Mainland</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="tab-content" id="nav-tabContent">
                    @(await Html.PartialAsync("_Work", Model.Project))
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5 col-lg-4 order-0 order-lg-1 mb-3 mb-md-0">
        <div class="list-group" id="list-tab" role="tablist">
            @foreach (var project in Model.Projects)
            {
                <a class="list-group-item text-white bg-dark list-group-item-action@(((id.HasValue && project.Id == id.Value) || (!id.HasValue && isActive)) ? " active": "") project-list-item" id="list-@project.Id-list" data-toggle="list" href="#list-@project.Id" role="tab" data-id="@project.Id">@project.ProjectName</a>
                isActive = false;
            }
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-12">
        <h1 class="text-center">Interactive Map</h1>
        <div class="p-1 bg-dark rounded border border-warning mt-3 shadow-lg">
            <div id="map" class="w-100" style="height: 600px; background: grey;" />
        </div>
        <script type="text/javascript" charset="UTF-8">
            /**
             * Creates a new marker and adds it to a group
             * param {H.map.Group} group       The group holding the new marker
             * param {H.geo.Point} coordinate  The location of the marker
             * param {String} html             Data associated with the marker
             */
            function addMarkerToGroup(group, coordinate, html) {
                var marker = new H.map.Marker(coordinate);
                // add custom data to the marker
                marker.setData(html);
                group.addObject(marker);
            }

            /**
             * Add two markers showing the position of Liverpool and Manchester City football clubs.
             * Clicking on a marker opens an infobubble which holds HTML content related to the marker.
             * param  {H.Map} map      A HERE Map instance within the application
             */
            function addInfoBubble(map) {
                var group = new H.map.Group();

                map.addObject(group);

                // add 'tap' event listener, that opens info bubble, to the group
                group.addEventListener('tap', function (evt) {
                    // event target is the marker itself, group is a parent event target
                    // for all objects that it contains
                    var bubble = new H.ui.InfoBubble(evt.target.getPosition(), {
                        // read custom data
                        content: evt.target.getData()
                    });
                    // show info bubble
                    ui.addBubble(bubble);
                }, false);

                @foreach (var project in Model.Projects)
                {
                    if (project.Latitude.HasValue && project.Longtitude.HasValue)
                    {
                        @:addMarkerToGroup(group, { lat: @project.Latitude, lng: @project.Longtitude },
                        @:'<div><a class="text-warning text-center" href="@Url.Action("Works", "Home", new { id = project.Id })" >@project.ProjectName</a></div><div>@project.Latitude, @project.Longtitude</div>');
                    }
                }
            }

            var platform = new H.service.Platform({
                app_id: 'dzwC0Gr4hown723cczbR',
                app_code: 'snAIzlxoIXDXwR6lWnPJfg'
            });
            var pixelRatio = window.devicePixelRatio || 1;
            var defaultLayers = platform.createDefaultLayers({
                tileSize: pixelRatio === 1 ? 256 : 512,
                ppi: pixelRatio === 1 ? undefined : 320
            });
            var map = new H.Map(document.getElementById('map'),
                defaultLayers.normal.map, {
                    center: { lat: 49.219157, lng: -123.092983 },
                    zoom: 10.2,
                    pixelRatio: pixelRatio
                });
            var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
            var ui = H.ui.UI.createDefault(map, defaultLayers);

            addInfoBubble(map);
        </script>
    </div>
</div>

@section Scripts{
    <script>
        function galleryClick() {
            $('.gallery-image').off('click').click(function () {
                var children = $(this).parents('.gallery').children();
                var html = "";
                for (var i = 0; i < children.length; i++) {
                    html += '<div class="carousel-item h-100' + (i == $(children).index($(this).parent()) ? " active" : "") + '" style=\'background: url("' + $($(children[i]).children()).attr('src') + '") no-repeat center; background-size: 75%;\'></div>';
                }
                $('#carouselModalControls .carousel-inner').html(html);
                $('#gallery').css('display', 'block').removeClass('fadeOut').addClass('fadeIn');
            });
        }
        $(document).ready(function () {
            galleryClick();
            $('#link-our-works').addClass('active');
            $('.project-list-item').off('click').click(function () {
                if (!$('.tab-pane#list-' + $(this).data('id')).length) {
                    $('.tab-pane').removeClass('show active');
                    $.ajax({
                        url: '@Url.Action("_Work", "Home")',
                        method: 'GET',
                        data: { id: $(this).data('id') },
                        success: function (html) {
                            $('#nav-tabContent').append(html);
                            galleryClick();
                        }
                    });
                }
            });
        });
    </script>
}
